#navbar-example2{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(239, 229, 229) !important;
    
}

.ok{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.card{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}
/* .scrollspy-example{
    background-color: brown !important;
} */
#ok1{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    top: 1rem;
    background: transparent;
    text-align: center;
   

}
/* #ok2{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
} */
#ok1 img{
    outline: 2px solid black;
    margin-bottom: 10px;
}
/* *{
    background-color: beige ;
} */
.card{
    outline: 3px solid black;
}
*{
    font-family: sans-serif !important;
    
}
body{
    background-color: rgb(241, 236, 228) !important;
    line-height: 1.5;
}
h4 ,#hope{
    background-color: beige !important;

    
   
}
p{
    background-color: rgb(239, 239, 229);
}
